In [37]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

int_df = pd.read_csv('faketeacherData.csv')
count_df = pd.read_csv('teacherdatacount.csv')

In [38]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459 entries, 0 to 2458
Data columns (total 16 columns):
IEIN                      1336 non-null float64
LocalTeacherID            2267 non-null object
LastName                  2267 non-null object
FirstName                 2267 non-null object
BirthDate                 2267 non-null object
SchoolYear                2459 non-null int64
ServingLocationRCDTS      2459 non-null object
EmployerRCDTS             2459 non-null object
Term                      2459 non-null object
StateCourseCode           2459 non-null object
LocalCourseID             0 non-null float64
LocalCourseTitle          0 non-null float64
SectionNumber             2459 non-null object
TeacherCourseStartDate    2267 non-null object
EISPositionCode           2267 non-null float64
TeacherCommitment         2267 non-null float64
dtypes: float64(5), int64(1), object(10)
memory usage: 307.5+ KB

In [39]:
count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
CPS School ID                  40 non-null int64
CPS School Name                40 non-null object
School Type                    40 non-null object
Network                        40 non-null object
ISBE RCDTS Code                40 non-null object
Number of Teachers Expected    40 non-null int64
dtypes: int64(2), object(4)
memory usage: 2.0+ KB

In [40]:
# Rename Teacher Data Count Columns
count_df.rename(columns={'CPS School ID':'cps_school_id',
                        'CPS School Name':'cps_school_name',
                        'School Type': 'school_type',
                        'Network': 'network',
                        'ISBE RCDTS Code': 'isbe_rcdts_code',
                        'Number of Teachers Expected':'no_of_teachers_expected'},
                       inplace=True)

In [41]:
locations = count_df['isbe_rcdts_code'].unique()
print(locations)

['15016299025270C' '15016299025266C' '15016299025268C' '15016299025049C'
 '15016299025262C' '15016299025261C' '15016299025085C' '15016299025284C'
 '15016299025263C' '15016299025259C' '15016299025267C' '15016299025086C'
 '15016299025260C' '15016299025285C' '15016299025264C' '15016299025276C'
 '15016299025283C' '15016299025273C' '15016299025109C' '15016299025274C'
 '15016299025064C' '15016299025056C' '15016299025057C' '15016299025058C'
 '15016299025062C' '15016299025059C' '15016299025073C' '15016299025063C'
 '15016299025065C' '15016299025055C' '15016299025066C' '15016299025060C'
 '15016299025054C' '15016299025067C' '15016299025068C' '15016299025069C'
 '15016299025071C' '15016299025070C' '15016299025072C' '15016299025061C']

In [42]:
# Verify that the right number of teachers were submitted for each school in the file based on the file TeacherDataCount
for location in locations:
    print(location)
    print(count_df[count_df['isbe_rcdts_code']==location]['no_of_teachers_expected'].sum())
    print((int_df.ServingLocationRCDTS == location).sum())

15016299025270C
33
33
15016299025266C
34
34
15016299025268C
35
35
15016299025049C
33
33
15016299025262C
30
30
15016299025261C
32
32
15016299025085C
43
43
15016299025284C
37
37
15016299025263C
37
37
15016299025259C
40
2
15016299025267C
45
45
15016299025086C
36
36
15016299025260C
37
37
15016299025285C
45
45
15016299025264C
32
32
15016299025276C
47
47
15016299025283C
36
36
15016299025273C
42
207
15016299025109C
35
35
15016299025274C
45
45
15016299025064C
43
43
15016299025056C
41
41
15016299025057C
33
33
15016299025058C
34
34
15016299025062C
44
44
15016299025059C
78
78
15016299025073C
26
26
15016299025063C
40
40
15016299025065C
35
35
15016299025055C
42
42
15016299025066C
40
40
15016299025060C
37
37
15016299025054C
29
29
15016299025067C
35
35
15016299025068C
38
820
15016299025069C
34
34
15016299025071C
42
42
15016299025070C
41
41
15016299025072C
37
37
15016299025061C
47
47

In [43]:
# Remove entries with missing teacher info
int_df = int_df.dropna(axis=0, subset=['IEIN','LastName','FirstName','BirthDate',
                                       'SchoolYear','ServingLocationRCDTS','EmployerRCDTS',
                                       'Term','StateCourseCode','SectionNumber',
                                      'TeacherCourseStartDate','EISPositionCode','TeacherCommitment'])

In [44]:
int_df.head(50)

,IEIN,LocalTeacherID,LastName,FirstName,BirthDate,SchoolYear,ServingLocationRCDTS,EmployerRCDTS,Term,StateCourseCode,LocalCourseID,LocalCourseTitle,SectionNumber,TeacherCourseStartDate,EISPositionCode,TeacherCommitment
0,374529.0,804678,Bernard,Jorge,11/5/1990,2019,15016299025068C,15016299025068C,S1,04051A000,NaN,NaN,World History-Overview,08/20/2018,201.0,1.00
2,369472.0,280726,Rios,Teagan,11/20/1971,2019,15016299025059C,15016299025059C,S1,21051A000,NaN,NaN,Technological Literacy,01/21/2018,200.0,1.00
3,509509.0,251432,Morris,Noel,6/11/1962,2019,15016299025068C,15016299025068C,S1,02051A000,NaN,NaN,Pre-Algebra,01/13/2018,200.0,0.36
4,922488.0,303080,Fernandez,Dominique,1/20/1982,2019,15016299025266C,15016299025266C,Y1,01001A000,NaN,NaN,English/Language Arts I (9th grade),08/20/2018,200.0,1.00
5,689032.0,344652,Garrison,Benjamin,9/1/1974,2019,15016299025068C,15016299025068C,S1,01151A000,NaN,NaN,Public Speaking,08/20/2018,200.0,1.00
7,34560.0,254873,Andrews,Malcolm,1/19/1990,2019,15016299025068C,15016299025068C,S1,17101A000,NaN,NaN,Exploration of Electricity/Electronics,08/20/2018,205.0,1.00
9,548398.0,228275,Walls,Nathen,11/1/1964,2019,15016299025059C,15016299025059C,S1,04001A000,NaN,NaN,World Geography,8/20/2018,200.0,1.00
10,306780.0,dkelly,Kelly,Donavan,4/18/1969,2019,15016299025068C,15016299025068C,S1,03101A000,NaN,NaN,Chemistry,08/20/2018,200.0,1.00
11,414712.0,352448,Cochran,Carl,4/8/1934,2019,15016299025276C,15016299025276C,S1,02133A000,NaN,NaN,IB Mathematics and Computing-SL,08/20/2018,200.0,1.00
13,333744.0,dbell,Bell,Devon,8/4/1962,2019,15016299025065C,15016299025065C,Q1,01101A000,NaN,NaN,English/Composition (freshmen and sophomores),02/10/2018,200.0,1.00
14,866618.0,639272,Duffy,Lamar,11/18/1970,2019,15016299025068C,15016299025068C,S1,04051A000,NaN,NaN,World History-Overview,02/11/2018,200.0,1.00
15,171578.0,717956,Soto,Roland,8/14/1982,2019,15016299025068C,15016299025068C,S1,16001A000,NaN,NaN,Exploration of Hospitality Careers,08/20/2018,200.0,1.00
16,443020.0,460113,Dodson,Desmond,4/6/1966,2019,15016299025068C,15016299025068C,S1,08001A000,NaN,NaN,Physical Education,08/20/2018,200.0,1.00
17,611044.0,652417,Daniels,Grady,3/11/1970,2019,15016299025262C,15016299025262C,S1,02101A000,NaN,NaN,Number Theory,08/20/2018,201.0,1.00
21,732701.0,535618,Cortez,Dexter,8/10/1990,2019,15016299025054C,15016299025054C,Y1,09151A000,NaN,NaN,Air Force Junior ROTC I,08/20/2018,200.0,1.00
30,288918.0,785030,Hanson,Konnor,9/17/1975,2019,15016299025068C,15016299025068C,S1,21001A000,NaN,NaN,Pre-Engineering Technology,01/23/2018,200.0,1.00
31,332218.0,111114,Webb,Ismael,8/15/1965,2019,15016299025068C,15016299025068C,Y1,12001A000,NaN,NaN,Business/Office Career Exploration,08/18/2018,200.0,1.00
34,267788.0,219987,Moses,Pedro,11/15/1971,2019,15016299025285C,15016299025285C,S1,11051A000,NaN,NaN,Audio/Visual Production,02/01/2018,200.0,1.00
35,948403.0,375136,Escobar,Andres,3/18/1956,2019,15016299025068C,15016299025068C,Y1,19101A000,NaN,NaN,Cosmetology-Licensing,02/25/2018,200.0,1.00
37,17392.0,179280,Conner,Asher,8/16/1967,2019,15016299025056C,15016299025056C,S1,04051A000,NaN,NaN,World History-Overview,02/16/2018,200.0,1.00
39,583282.0,310357,Meyers,Maximilian,5/20/1963,2019,15016299025068C,15016299025068C,S1,09051A000,NaN,NaN,Army Junior ROTC I,08/20/2018,200.0,1.00
41,499695.0,763300,Vang,Reagan,9/21/1981,2019,15016299025284C,15016299025284C,S1,16051A000,NaN,NaN,"Exploration of Restaurant, Food and Beverage S...",01/14/2018,200.0,1.00
43,513041.0,140822,Shields,Rocco,11/2/1989,2019,15016299025260C,15016299025260C,Q1,05001A000,NaN,NaN,Dance Technique,08/20/2018,200.0,1.00
44,450359.0,297147,Welch,Jerimiah,6/1/1977,2019,15016299025086C,15016299025086C,S1,19001A000,NaN,NaN,Human Services Career Exploration,01/26/2018,200.0,1.00
47,757959.0,808714,Clayton,Trystan,7/6/1969,2019,15016299025285C,15016299025285C,S1,03051A000,NaN,NaN,Biology,08/20/2018,200.0,1.00
48,534955.0,485042,Medina,Chad,9/5/1980,2019,15016299025059C,15016299025059C,S1,02101A000,NaN,NaN,Number Theory,08/20/2018,200.0,1.00
49,283239.0,549042,Castaneda,Tripp,10/14/1973,2019,15016299025056C,15016299025056C,S1,12051A000,NaN,NaN,Introductory Business,08/20/2018,200.0,1.00
51,279855.0,umacdonald,Macdonald,Ulises,1/14/1961,2019,15016299025072C,15016299025072C,S1,01051A000,NaN,NaN,English/Literature (freshmen and sophomores),09/18/2018,200.0,1.00
52,970753.0,543637,Harrell,Nasir,3/12/1956,2019,15016299025056C,15016299025056C,S1,21051A000,NaN,NaN,Technological Literacy,08/08/2018,203.0,1.00
53,221298.0,367012,Hamilton,Talan,9/16/1953,2019,15016299025061C,15016299025061C,S1,20151A000,NaN,NaN,Distribution-Comprehensive,08/05/2018,200.0,1.00
58,617607.0,tgould,Gould,Tyree,6/19/1980,2019,15016299025066C,15016299025066C,S1,03151A000,NaN,NaN,Physics,08/20/2018,200.0,1.00
59,168100.0,85266,Davidson,Antoine,8/10/1962,2019,15016299025068C,15016299025068C,S1,02001A000,NaN,NaN,Informal Mathematics,08/20/2018,204.0,1.00
61,580075.0,745644,Flynn,Cruz,9/18/1988,2019,15016299025086C,15016299025086C,S1,02101A000,NaN,NaN,Number Theory,08/20/2018,200.0,1.00
62,592850.0,786785,Christian,Charles,7/27/1986,2019,15016299025068C,15016299025068C,S1,19101A000,NaN,NaN,Cosmetology-Licensing,02/13/2018,200.0,1.00
63,450804.0,596126,Lawrence,Carson,5/28/1969,2019,15016299025068C,15016299025068C,S1,02151A000,NaN,NaN,General Applied Math,09/21/2018,201.0,1.00
65,35418.0,172316,Hanna,Luke,5/1/1990,2019,15016299025068C,15016299025068C,S1,06101A000,NaN,NaN,Spanish I,08/20/2018,205.0,1.00
66,135750.0,101146,Sherman,Felipe,4/22/1951,2019,15016299025068C,15016299025068C,S1,01001A000,NaN,NaN,English/Language Arts I (9th grade),08/20/2018,200.0,1.00
67,194173.0,867448,Pitts,Gunner,3/20/1956,2019,15016299025061C,15016299025061C,S1,01101A000,NaN,NaN,English/Composition (freshmen and sophomores),08/20/2018,200.0,1.00
68,963325.0,898345,Bridges,Mateo,5/11/1989,2019,15016299025068C,15016299025068C,S1,21101A000,NaN,NaN,Drafting Careers Exploration,08/20/2018,205.0,1.00
69,51249.0,181104,Adkins,Antwan,2/24/1957,2019,15016299025069C,15016299025069C,Q1,01101A000,NaN,NaN,English/Composition (freshmen and sophomores),08/20/2018,200.0,1.00
70,451108.0,123895,Garza,Rudy,6/2/1958,2019,15016299025058C,15016299025058C,S1,09101A000,NaN,NaN,Naval Junior ROTC I,08/20/2018,200.0,1.00
71,792633.0,67610,Swanson,Erick,12/23/1985,2019,15016299025049C,15016299025049C,S1,03051A000,NaN,NaN,Biology,08/05/2018,200.0,1.00
72,218932.0,740221,Cohen,Gael,10/2/1984,2019,15016299025068C,15016299025068C,S1,05001A000,NaN,NaN,Dance Technique,08/18/2018,200.0,1.00
75,977816.0,mandrade,Andrade,Miles,2/5/1977,2019,15016299025259C,15016299025259C,S1,15001A000,NaN,NaN,Exploration of Public Service Careers,09/12/2018,200.0,1.00
76,895419.0,177249,Mendez,Gerardo,10/25/1966,2019,15016299025284C,15016299025284C,S1,20051A000,NaN,NaN,Truck and Bus Driving,08/20/2018,200.0,1.00
79,37583.0,916908,Nelson,Alex,1/18/1986,2019,15016299025068C,15016299025068C,Q1,19001A000,NaN,NaN,Human Services Career Exploration,08/20/2018,200.0,1.00
83,525917.0,472069,Fleming,Jaylan,5/19/1967,2019,15016299025068C,15016299025068C,S1,01051A000,NaN,NaN,English/Literature (freshmen and sophomores),08/20/2018,200.0,1.00
84,759195.0,fhines,Hines,Finley,11/6/1969,2019,15016299025068C,15016299025068C,S1,22101A000,NaN,NaN,Leadership,02/28/2018,200.0,1.00
85,169120.0,660692,Branch,Kamren,9/14/1983,2019,15016299025262C,15016299025262C,S1,01101A000,NaN,NaN,English/Composition (freshmen and sophomores),08/20/2018,200.0,1.00
86,314258.0,902461,Thomas,Felipe,10/22/1990,2019,15016299025068C,15016299025068C,S1,14101A000,NaN,NaN,Dental Laboratory Technology,08/20/2018,200.0,1.00

In [45]:
# Remove nonnumeric values from TeacherID
int_df = int_df[int_df['LocalTeacherID'].apply(lambda x: str(x).isdigit())]

In [46]:
int_df['LocalTeacherID'].unique()

array(['804678', '280726', '251432', ..., '46538', '760249', '70447'],
      dtype=object)

In [62]:
# Use standard date
int_df['BirthDate'] = pd.to_datetime(int_df['BirthDate'])
int_df['BirthDate'] = int_df['BirthDate'].dt.strftime('%m/%d/%Y')
int_df['TeacherCourseStartDate'] = pd.to_datetime(int_df['TeacherCourseStartDate'])
int_df['TeacherCourseStartDate'] = int_df['TeacherCourseStartDate'].dt.strftime('%m/%d/%Y')

In [63]:
int_df.head()

,IEIN,LocalTeacherID,LastName,FirstName,BirthDate,SchoolYear,ServingLocationRCDTS,EmployerRCDTS,Term,StateCourseCode,LocalCourseID,LocalCourseTitle,SectionNumber,TeacherCourseStartDate,EISPositionCode,TeacherCommitment
0,374529.0,804678,Bernard,Jorge,11/05/1990,2019,15016299025068C,15016299025068C,S1,04051A000,NaN,NaN,World History-Overview,08/20/2018,201.0,1.00
2,369472.0,280726,Rios,Teagan,11/20/1971,2019,15016299025059C,15016299025059C,S1,21051A000,NaN,NaN,Technological Literacy,01/21/2018,200.0,1.00
3,509509.0,251432,Morris,Noel,06/11/1962,2019,15016299025068C,15016299025068C,S1,02051A000,NaN,NaN,Pre-Algebra,01/13/2018,200.0,0.36
4,922488.0,303080,Fernandez,Dominique,01/20/1982,2019,15016299025266C,15016299025266C,Y1,01001A000,NaN,NaN,English/Language Arts I (9th grade),08/20/2018,200.0,1.00
5,689032.0,344652,Garrison,Benjamin,09/01/1974,2019,15016299025068C,15016299025068C,S1,01151A000,NaN,NaN,Public Speaking,08/20/2018,200.0,1.00